{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-12 mx-auto mt-2">
            <h2>Live Incoming Data from Mandrill API</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Event ID</th>
                    <th scope="col">Event Type</th>
                    <th scope="col">Sender</th>
                    <th scope="col">Recipient</th>
                    <th scope="col">Sent on</th>
                    <th scope="col">Opened On</th>
                    <th scope="col">URL in Message</th>
                    <th scope="col">Time of Clicks</th>
                    <th scope="col">Email State</th>
                    <th scope="col">Message ID</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th id="event_id" scope="row">{{ event_id }}</th>
                    <td id="event">{{ event }}</td>
                    <td id="sender">{{ sender }}</td>
                    <td id="email">{{ email }}</td>
                    <td id="message_ts">{{ message_ts }}</td>
                    <td id="time_opened">{{ time_opened }}</td>
                    <td id="url_clicked">{{ url_clicked }}</td>
                    <td id="time_clicked">{{ time_clicked }}</td>
                    <td id="state">{{ state }}</td>
                    <td id="message_id">{{ message_id }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- The websocket is invoked in the script below -->
    <script>
        var socket = new WebSocket('ws://localhost:8000/ws/mandrill/broadcast')
        socket.onmessage = (event) => {
            var data = event.data;
            if (data === "something went wrong"){
              window.alert(data)
            } else{
              var stored = JSON.parse(data)

              //  updating the real-time data through DOM manipulation

              document.querySelector('#event_id').innerText = stored.event_id
              document.querySelector('#event').innerText = stored.event
              document.querySelector('#sender').innerText = stored.sender
              document.querySelector('#email').innerText = stored.email
              document.querySelector('#message_ts').innerText = stored.message_ts
              document.querySelector('#time_opened').innerText = stored.time_opened
              document.querySelector('#url_clicked').innerText = stored.url_clicked
              document.querySelector('#time_clicked').innerText = stored.time_clicked
              document.querySelector('#state').innerText = stored.state
              document.querySelector('#message_id').innerText = stored.message_id
            }
        }
    </script>

{% endblock %}